 <h2><%= @concert[:title]%></h2>
 <h4>Review for <%= @concert[:title]%></h2>
 
 <form action="/concerts/<%= @concert[:id] %>/reviews/create" method="post">
    <div class="form-group"> 
        <label for="exampleFormControlSelect1">Score?</label>
            <select class="form-control" name="score">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select>
    </div>
    <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>